.book-img-overlay {
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  box-shadow: 0px 6px 20px -10px black;
  transition: box-shadow 0.5s 0.2s;
}
.book-img {
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  z-index: -1;
}
.book-preview:hover .book-btns {
  opacity: 1;
  pointer-events: auto;
}
.book-preview:hover .book-btns > * {
  opacity: 1;
  top: -5px;
}
.book-preview:hover .book-p-title {
  color: var(--clr1bg);
}
.book-preview:hover .book-img {
  transform: scale(1.1);
}
.book-preview:hover .book-img-overlay {
  box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.658);
}
.book-btns {
  transition: 0.5s opacity;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(17, 17, 17, 0.548);
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0.2em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.book-btns > button {
  position: relative;
  top: 5px;
  opacity: 0;
  transition: top 0.3s 0.2s, opacity 0.3s 0.2s, color 0.3s,
    background-color 0.3s;
  background-color: var(--clr1);
  color: var(--clr1bg);
  width: calc(1.2em + 12px);
  height: calc(1.2em + 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  font-size: 1.2em;
}

.book-btns > button:hover {
  background-color: var(--clr1bg);
  color: var(--clr1);
}

.book-p-title {
  font-size: 1.05rem;
  font-weight: 500;
  transition: 0.3s color;
}

.book-p-desc {
  margin-bottom: 0.25em;
}

.book-p-price {
}

.book-p-sale-tag {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: var(--clr1);
  background-color: rgb(136, 177, 42);
  font-size: 0.8rem;
  padding: 0.15em 0.35em;
  border-radius: 0.25em;
  color: var(--clr1);
  z-index: 1;
}
.prev-err i {
  color: white;
  background-color: rgb(202, 69, 69);
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  margin-inline-end: 0.5em;
  border-radius: 50%;
}
.prev-err {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
