:root {
  --clr1: #fff;
  --clr2: rgb(120, 99, 110);

  --clr1bg: #32b77a;
  --clr1bg-light: #6de4ac;
  --clr2bg: #f16514;
  --clr2bg-light: #eead87;

  --gray1: #f6f6f6;
  --gray2: #a5a5a5;
  --gray3: #474747;
}
